.innerbody{
	width: 100%;
    height: 100%;
    overflow: hidden;
   
}
.main-top{
	position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 82px;
    z-index: 11;
    background: url(./images/index-header.png) no-repeat #225492;
}
.main-top h4{
	font-size: 30px;
	color: #fff;
	padding-left:75px; 
	position: relative;
	margin-top:25px; 
	font-weight:normal;
}
.main-top h4 .logo{
	width: 53px;
	height: 39px;
	background: url(./images/index-logo.png) no-repeat;
	position: absolute;
	left: 10px;
	top: 0;
}

.main-footer{
	position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 32px;
    line-height: 32px;
    z-index: 11;
    text-align: center;
    color: #fff;
    font-size: 14px;
    background: #225492;
}
.main-center{
	/*margin-top:82px;
	margin-bottom: 32px; 
	position: relative;
	height: 800px;
	background-color: #f7f7f7;*/
	position: absolute;
	top: 82px;
	bottom: 32px;
	height: auto;
	width: 100%;
	background-color: #f7f7f7;
}
.main-left {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 240px;
    height: 100%;
    z-index: 10;
    border-right: 1px solid #c0c5c9; 
}
.main-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 240px;
    overflow: hidden;
}
.nav{
	height: 36px;
	line-height: 36px;
	background-color: #d9dee2;
	font-size: 14px;
	border-bottom:1px solid #c0c5c9; 
}
.menu{
	margin-right: 12px;
	margin-top: 10px;
	float: right;
}
.icon-map-marker{
	margin:0 10px;
	position: relative;
	top: 2px;
}
.loc{
	margin: 0 5px;
}
.subNavBox li{
	height: 37px;
	line-height: 37px;
	border-bottom: 1px solid #e0e0e0;
	border-top: 1px solid #ffffff;
	color: #000;
	font-size: 14px;
	padding-left: 40px;
	position: relative;
}
.subNavBox li i{
	/*margin: 0 8px 0 15px;*/
	position: absolute;
	top: 10px;
	left: 15px;
}
.subNavBox li.active{
	border-left:3px solid #225491;
	color: #225491; 
}
.subNavBox li.active a{
	color: #225491; 
}
